<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie CRUD</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <center>
        <header>
            <a href="/">Movie List</a>
            <a href="/add">Add Movie</a>
        </header>

        <h2>Add Movie Page</h2>

        <form action="/add-movie" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>Title: </td>
                    <td><input type="text" name="title"></td>
                </tr>
                <tr>
                    <td>Description: </td>
                    <td><input type="text" name="description"></td>
                </tr>
                <tr>
                    <td>Genre: </td>
                    <td><input type="text" name="genre"></td>
                </tr>
                <tr>
                    <td>Duration: </td>
                    <td><input type="text" name="duration"></td>
                </tr>
                <tr>
                    <td>Poster: </td>
                    <td><input type="file" name="imgMovie"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="ADD"></td>
                </tr>
            </table>
        </form>
    </center>
</body>

</html>